{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
  <h4 class="font-digi text-xs font-normal text-grey-10 mb-4">{{ T "tags_title" }}</h4>
  <div class="flex flex-wrap gap-2">
    {{- range $name, $taxonomy := $tags }}
      {{- with $.Site.GetPage (printf "/tags/%s" $name) }}
        <a
          class="bg-gray-100 text-gray-800 px-2 py-1 rounded text-sm font-normal hover:bg-grey-80 hover:text-grey-10
          transition-all opacity-0 will-change-transform backface-hidden taglist-fade"
          href="{{ .RelPermalink }}"
          title="{{ .Title }}"
        >
          {{ .Title }}{{ if .Site.Params.widgets.tags_counter }} ({{ $taxonomy.Count }}){{ end }}
        </a>
      {{- end }}
    {{- end }}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tags = Array.from(document.querySelectorAll('.taglist-fade'));
    if (!tags.length) return;

    const observer = new IntersectionObserver(
      (entries, observer) => {
        entries
          .filter(entry => entry.isIntersecting)
          .sort((a, b) => tags.indexOf(a.target) - tags.indexOf(b.target))
          .forEach((entry, idx) => {
            setTimeout(() => {
              entry.target.classList.remove("opacity-0");
              entry.target.classList.add("animate-fade-in-from-b-0.7");
              observer.unobserve(entry.target);
            }, idx * 60); // Adjust the delay as you like
          });
      },
      { threshold: 0.1 }
    );

    tags.forEach(tag => observer.observe(tag));
  });
</script>

{{- end }}
