<!-- layouts/partials/hero.html -->
<section class="relative h-[386px] w-full overflow-hidden flex items-center justify-center md:p-5 rounded" style="background: url(/images/grid-bg.svg);">

    <!-- Hero Content -->
    <div class="relative z-10 text-center">
        <h1 class="text-4xl md:text-6xl font-bold leading-tight text-white">
            The Hippius Blog
        </h1>
    </div>

    <!-- Bottom Left Circular Animation -->
    <div class="absolute flex items-center justify-center bottom-10 left-10 size-20">
        <img src="/images/circular-bittensor.svg" class="absolute animate-spin" style="animation-duration: 10s"
            alt="Circular Bittensor" />
        <img src="/images/bittensor-logo.svg" class="size-5 absolute" alt="Bittensor Logo" />
    </div>

    <!-- Bottom Right Corner Decoration -->
    <div class="absolute bottom-10 right-10 border-r-2 size-10 border-b-2 border-white rounded-br"></div>
</section>